<div class="title"><h1><%= @entry.title %></h1></div>
<div class="comment-content"><p><%= @entry.content %></p></div>
<br>

<ul><div class="comment-ul">Comments for this entry:
  <% @entry.comments.each do |comment| %>
    <li><div class="comment-li"><%= comment.text %> | Submitted by <%= comment.user.name %>
      <% if  current_user %>
        <% if current_user.id == comment.user_id %>
          | <%= link_to "Edit", edit_comment_path(comment) %> |
          <%= link_to "Delete", comment_path(comment), :data => {:confirm => "Are you sure?", :method => "delete"} %>
          <% end %>
      <% end %>
    </div></li>
  <% end %>
</div>
</ul>

<br>
<div class="comment-form">
<% if current_user %>
  <%= form_for [@user, @entry, @comment] do |f| %>
    <div class = "field">
      <%= f.label "Comment" %>
      <br>
      <%= f.text_area :text %>
    </div>
    <%= f.hidden_field :entry_id, :value => @entry.id %>
    <%= f.submit "Submit Comment" %>
  <% end %>
<% end %>
</div>

<br>
<div class = "entry-links">
<% if current_user == @user %>
  <%= link_to "Edit Entry", edit_user_entry_path(@user, @entry) %> |
  <%= link_to "Delete Entry", user_entry_path(@user, @entry), :data => {:confirm => "Are you sure?", :method => "delete"} %>
<% end %>
</div>
<br>

